@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/static/pretendard.css");
@import "tailwindcss";

@layer base {
  html {
    font-family: Pretendard, -apple-system, BlinkMacSystemFont, system-ui,
      Roboto, "Helvetica Neue", "Segoe UI", "Apple SD Gothic Neo",
      "Noto Sans KR", "Malgun Gothic", "Apple Color Emoji", "Segoe UI Emoji",
      "Segoe UI Symbol", sans-serif;
  }
}

@theme {
  --color-white: hsl(210 40% 98%);
  --color-black: #121212;

  --color-bg: white;
  --color-fg: var(--black);

  --color-second: hsl(210 40% 96.1%);
  --color-second-fg: hsl(222.2 47.4% 11.2%);

  --color-informative: #e0f2fe;
  --color-informative-foreground: var(--black);

  --color-warning: #fef3c7;
  --color-warning-foreground: var(--black);

  --color-destructive: #fecdd3;
  --color-destructive-foreground: var(--black);

  --color-card: 0 0% 100%;
  --color-card-fg: 222.2 84% 4.9%;

  --color-popover: 0 0% 100%;
  --color-popover-foreground: 222.2 84% 4.9%;

  --color-primary: 222.2 47.4% 11.2%;
  --color-primary-foreground: 210 40% 98%;

  --color-muted: green;
  --color-muted-fg: 215.4 16.3% 46.9%;

  --color-accent: 210 40% 96.1%;
  --color-accent-fg: 222.2 47.4% 11.2%;

  --color-border: 214.3 31.8% 91.4%;
  --color-input: 214.3 31.8% 91.4%;
  --color-ring: 222.2 84% 4.9%;

  --radius: 0.5rem;
}

:root {
  --bg: #ffffff;
  --fg: #171717;
  --softBg: #f0f0f0;
  --text: black;
  --softText: #626262;

  --muted: green;
}

* {
  box-sizing: border-box;
}

a {
  color: inherit;
  text-decoration: none;
}

body {
  max-width: 100vw;
  overflow-x: hidden;
  font-family: Pretendard;
}

.dark {
  --bg: #0f172a;
  --text: #ddd;
  --softBg: #1f273a;
  --softText: #a6a6a6;
}

.light {
  --bg: white;
  --text: black;
  --softBg: #f0f0f0;
  --softText: #626262;
}

.container {
  min-height: 100vh;
  min-width: 100vw;
  background-color: var(--bg);
  color: var(--text);
}

@media screen and (max-width: 1536px) {
  .wrapper {
    max-width: 1366px;
  }
}
@media screen and (max-width: 1280px) {
  .wrapper {
    max-width: 1024px;
  }
}
@media screen and (max-width: 1024px) {
  .wrapper {
    max-width: 768px;
    padding: 0 40px;
  }
}
@media screen and (max-width: 768px) {
  .wrapper {
    max-width: 640px;
    padding: 0 24px;
  }
}
@media screen and (max-width: 640px) {
  .wrapper {
    max-width: 475px;
    padding: 0 20px;
  }
}
